@page
@model Server.Pages.Features.Cms.Admin.Pages.DetailsModel

@{
	var pageTitle =
		$"{Resources.DataDictionary.DetailsOf} {Resources.DataDictionary.Page}";

	ViewData[Constants.ViewDataKeyName.PageTitle] = pageTitle;
}

<section-form>
	<fieldset>
		<section-form-header>
			@(pageTitle)
		</section-form-header>

		<partial name="PartialViews/_DisplayPageMessages" />

		<dtat-readonly-input asp-for="ViewModel.Id" />

		<dtat-readonly-checkbox asp-for="ViewModel.IsActive" />

		<dtat-readonly-input asp-for="ViewModel.Name" dir="ltr" />

		<dtat-readonly-input asp-for="ViewModel.Ordering" />

		<dtat-readonly-input asp-for="ViewModel.LayoutDisplayName" />

		<dtat-readonly-input asp-for="ViewModel.Title" />

		<dtat-readonly-input asp-for="ViewModel.Description" />

		<dtat-readonly-checkbox asp-for="ViewModel.DoesSearchEnginesIndexIt" />

		<dtat-readonly-checkbox asp-for="ViewModel.DoesSearchEnginesFollowIt" />

		<dtat-readonly-input asp-for="ViewModel.InsertDateTime" />

		<dtat-readonly-input asp-for="ViewModel.UpdateDateTime" />
		@*
		<hr />

		<div class="row">
		<div class="col">
		@(Html.Raw(Model.ViewModel.Body))
		</div>
		</div>
		*@
	</fieldset>

	<section-form-footer>
		<a asp-page="Index">
			@(Html.DtatGetLinkCaptionForList())
		</a>
		<a asp-page="Update" asp-route-id="@(Model.ViewModel.Id)">
			@(Html.DtatGetLinkCaptionForUpdate())
		</a>
		<a asp-page="Delete" asp-route-id="@(Model.ViewModel.Id)">
			@(Html.DtatGetLinkCaptionForDelete())
		</a>
	</section-form-footer>
</section-form>
