@page

@model Server.Pages.Features.Common.Admin.ApplicationSettings.UpdateModel

@{
	var pageTitle =
		$"{Resources.DataDictionary.UpdateOf} {Resources.DataDictionary.ApplicationSetting}";

	ViewData[Constants.ViewDataKeyName.PageTitle] = pageTitle;
}

<form method="post">

	<input type="hidden" asp-for="ViewModel.Id" />

	<section-form>

		<fieldset>

			<section-form-header>
				@(pageTitle)
			</section-form-header>

			<partial name="PartialViews/_DisplayPageMessages" />

			<dtat-full-select asp-for="ViewModel.DefaultCultureId"
							  asp-items="@(Model.CulturesSelectList)" />

			<dtat-full-select asp-for="ViewModel.Theme"
							  asp-items="@(Html.DtatGetEnumSelectList<Domain.Features.Cms.Enums.ThemeEnum>(selectedValue: (int)Model.ViewModel.Theme))" />

			<dtat-full-select asp-for="ViewModel.LoginOption"
							  asp-items="@(Html.DtatGetEnumSelectList<Domain.Features.Common.Enums.LoginOptionEnum>(selectedValue: (int)Model.ViewModel.LoginOption))" />

			<hr />

			<dtat-full-input asp-for="ViewModel.MasterPassword" dir="ltr" />

			<dtat-full-input asp-for="ViewModel.FavoriteUserProfileLevel" />

			<hr />

			<dtat-full-input asp-for="ViewModel.GoogleAnalyticsCode" dir="ltr" />

			<dtat-full-input asp-for="ViewModel.GoogleTagManagerCode" dir="ltr" />

			<hr />

			<dtat-full-checkbox asp-for="ViewModel.IsCaptchaImageEnabled" />

			<dtat-full-input asp-for="ViewModel.DigitCountInCaptchaImage" />

			<hr />

			<dtat-full-checkbox asp-for="ViewModel.IsRegistrationEnabled" />

			<dtat-full-checkbox asp-for="ViewModel.IsContactUsEnabled" />

			<dtat-full-checkbox asp-for="ViewModel.IsLoginVisible" />

			<dtat-full-checkbox asp-for="ViewModel.IsGoogleAuthenticationEnabled" />

			<dtat-full-checkbox asp-for="ViewModel.ActivateUserAfterRegistration" />

			<dtat-full-checkbox asp-for="ViewModel.IsSearchInNavbarEnabled" />

		</fieldset>

		<section-form-buttons>
			<button-save />
			<button-reset />
		</section-form-buttons>

		@*
		<section-form-footer>
		<a asp-page="Details">
		@(Html.DtatGetLinkCaptionForDetails())
		</a>
		</section-form-footer>
		*@

	</section-form>

</form>
