@page
@model Server.Pages.Features.Cms.User.Posts.UpdateModel

@{
	var pageTitle =
		$"{Resources.DataDictionary.UpdateOf} {Resources.DataDictionary.Post}";

	ViewData[Constants.ViewDataKeyName.PageTitle] = pageTitle;
}

<form method="post">

	<input type="hidden" asp-for="ViewModel.Id" />

	<section-form>
		<fieldset>
			<section-form-header>
				@(pageTitle)
			</section-form-header>

			<partial name="PartialViews/_DisplayPageMessages" />

			<dtat-full-checkbox asp-for="ViewModel.IsDraft" />

			<dtat-full-checkbox asp-for="ViewModel.IsCommentingEnabled" />

			<dtat-full-checkbox asp-for="ViewModel.DisplayCommentsAfterVerification" />

			<dtat-full-select asp-for="ViewModel.TypeId" asp-items="@(Model.PostTypesSelectList)" />

			<dtat-full-select asp-for="ViewModel.CategoryId" asp-items="@(Model.PostCategoriesSelectList)" />

			<dtat-full-input asp-for="ViewModel.Title" />

			<dtat-full-input asp-for="ViewModel.Description" />

			<dtat-full-input asp-for="ViewModel.Author" />

			<dtat-full-input asp-for="ViewModel.MovieUrl" dir="ltr" />

			<dtat-full-input asp-for="ViewModel.ImageUrl" dir="ltr" />

			<dtat-full-input asp-for="ViewModel.CoverImageUrl" dir="ltr" />

			<dtat-full-textarea asp-for="ViewModel.Introduction" />

			<dtat-full-textarea asp-for="ViewModel.Body" />
		</fieldset>

		<section-form-buttons>
			<button-save />
			<button-reset />
		</section-form-buttons>

		<section-form-footer>
			<a asp-page="Index">
				@(Html.DtatGetLinkCaptionForList())
			</a>
			<a asp-page="Details" asp-route-id="@(Model.ViewModel.Id)">
				@(Html.DtatGetLinkCaptionForDetails())
			</a>
			<a asp-page="Delete" asp-route-id="@(Model.ViewModel.Id)">
				@(Html.DtatGetLinkCaptionForDelete())
			</a>
		</section-form-footer>
	</section-form>

</form>
