@page

@model Server.Pages.Account.LoginModel

@inject Services.Features.Common.ApplicationSettingService ApplicationSettingService

@{
	var applicationSetting =
		await
		ApplicationSettingService.GetInstanceAsync();

	var pageTitle =
		Resources.PageTitles.Login;

	ViewData[Constants.ViewDataKeyName.PageTitle] = pageTitle;

	Layout =
		"Layouts/_Security";
}

<form method="post">

	<div class="container my-0 my-sm-1 my-md-3 my-lg-5">
		<div class="row">
			<div class="col-12 p-3   col-md-8 offset-md-2 p-md-4   col-lg-6 offset-lg-3 p-lg-5   border border-2 rounded-3 shadow-lg">
				<fieldset>
					<legend class="text-center">
						@(pageTitle)
					</legend>

					<hr />

					<partial name="PartialViews/_DisplayPageMessages" />

					<input type="hidden" asp-for="ViewModel.ReturnUrl" />

					<div class="mb-3">
						@switch (applicationSetting.LoginOption)
						{
							case Domain.Features.Common.Enums.LoginOptionEnum.Both:
							{
								<label class="form-label" for="ViewModel_UsernameOrEmailAddress">
									@(Resources.DataDictionary.UsernameOrEmailAddress)
								</label>

								break;
							}

							case Domain.Features.Common.Enums.LoginOptionEnum.Username:
							{
								<label class="form-label" for="ViewModel_UsernameOrEmailAddress">
									@(Resources.DataDictionary.Username)
								</label>

								break;
							}

							case Domain.Features.Common.Enums.LoginOptionEnum.EmailAddress:
							{
								<label class="form-label" for="ViewModel_UsernameOrEmailAddress">
									@(Resources.DataDictionary.EmailAddress)
								</label>

								break;
							}
						}

						<div class="input-group">
							<div class="input-group-text"><i class="bi bi-person-fill"></i></div>
							<input asp-for="ViewModel.UsernameOrEmailAddress" class="form-control" dir="ltr" />
						</div>

						<span asp-validation-for="ViewModel.UsernameOrEmailAddress" class="text-danger"></span>
					</div>

					<div class="mb-3">
						<label asp-for="ViewModel.Password" class="form-label"></label>

						<div class="input-group">
							<div class="input-group-text"><i class="bi bi-lock-fill"></i></div>
							<input asp-for="ViewModel.Password" class="form-control" dir="ltr" />
						</div>

						<span asp-validation-for="ViewModel.Password" class="text-danger"></span>
					</div>

					<div class="mb-3">
						<div class="form-check">
							<input asp-for="ViewModel.RememberMe" class="form-check-input" />
							<label asp-for="ViewModel.RememberMe" class="form-check-label"></label>
						</div>
					</div>

					<partial name="~/Pages/Shared/PartialViews/_CaptchaImage.cshtml" />

					<div class="mb-3">
						<button type="submit" class="btn btn-primary">@(Resources.ButtonCaptions.Login)</button>
						<button type="reset" class="btn btn-secondary">@(Resources.ButtonCaptions.Reset)</button>
					</div>
				</fieldset>

				@if (applicationSetting.IsGoogleAuthenticationEnabled)
				{
					<hr class="mt-4" />

					<div class="d-grid gap-2 mb-3">
						<a asp-page="@(Constants.CommonRouting.GoogleLogin)" class="btn btn-danger">
							@(Resources.ButtonCaptions.LoginWithGoogle)
						</a>
					</div>
				}

				<hr class="mt-4" />

				<div class="text-center">
					<a asp-page="@(Constants.CommonRouting.RootIndex)" class="text-decoration-none">
						@(Resources.ButtonCaptions.Home)
					</a>

					@if (applicationSetting.IsRegistrationEnabled)
					{
						<text>| </text>
						<a asp-page="@(Constants.CommonRouting.Register)" class="text-decoration-none">
							@(Resources.ButtonCaptions.Register)
						</a>
					}

					|
					<a href="/Account/ForgotPassword" class="text-decoration-none">
						@(Resources.PageTitles.ForgotPassword)
					</a>

					<br />

					<a asp-page="@(Constants.CommonRouting.SendAgainEmailAddressVerificationKey)" class="text-decoration-none">
						@(Resources.PageTitles.SendAgainEmailAddressVerificationKey)
					</a>
				</div>
			</div>
		</div>
	</div>

</form>
