@page

@model Server.Pages.Account.UpdateProfileModel

@{
	var pageTitle =
		Resources.PageTitles.UpdateProfile;

	ViewData[Constants.ViewDataKeyName.PageTitle] = pageTitle;
}

<form method="post">

	<section-form>
		<fieldset>
			<section-form-header>
				@(pageTitle)
			</section-form-header>

			<div asp-validation-summary="All" class="text-danger"></div>

			<partial name="PartialViews/_DisplayPageMessages" />

			<dtat-full-input asp-for="ViewModel.Username" dir="ltr" />

			<dtat-full-checkbox asp-for="ViewModel.IsProfilePublic" />

			<dtat-full-select asp-for="ViewModel.GenderId" asp-items="@(Model.GendersSelectList)" />

			<dtat-full-input asp-for="ViewModel.FirstName" />

			<dtat-full-input asp-for="ViewModel.LastName" />

			<dtat-full-input asp-for="ViewModel.NationalCode" dir="ltr" />

			<dtat-full-input asp-for="ViewModel.CellPhoneNumber" dir="ltr" />

			<dtat-full-select asp-for="ViewModel.ReligionId" asp-items="@(Model.ReligionsSelectList)" />

			<dtat-full-select asp-for="ViewModel.MaritalStatusId" asp-items="@(Model.MaritalStatusesSelectList)" />

			<dtat-full-select asp-for="ViewModel.LastEducationDegreeId" asp-items="@(Model.EducationDegreesSelectList)" />

			<dtat-full-select asp-for="ViewModel.MilitaryServcieStatusId" asp-items="@(Model.MilitaryServcieStatusesSelectList)" />

			<dtat-full-input asp-for="ViewModel.ImageUrl" dir="ltr" />

			<dtat-full-input asp-for="ViewModel.CoverImageUrl" dir="ltr" />

			<dtat-full-textarea asp-for="ViewModel.Description" />

		</fieldset>

		<section-form-buttons>
			<button-save />
			<button-reset />
		</section-form-buttons>
	</section-form>

</form>
