@inject Services.Features.Common.ApplicationSettingService applicationSettingService

@{
	var applicationSetting =
		await
		applicationSettingService.GetInstanceAsync();

	var googleAnalyticsCode =
		applicationSetting.GoogleAnalyticsCode;

	var googleTagManagerCode =
		applicationSetting.GoogleTagManagerCode;
}

@if (string.IsNullOrWhiteSpace(value: googleAnalyticsCode) == false)
{
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=@(googleAnalyticsCode)"></script>

	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', '@(googleAnalyticsCode)');
	</script>
}

@if (string.IsNullOrWhiteSpace(value: googleTagManagerCode) == false)
{
	<!-- Google Tag Manager -->
	<script>
		(function (w, d, s, l, i) {
			w[l] = w[l] || []; w[l].push({
				'gtm.start':
					new Date().getTime(), event: 'gtm.js'
			}); var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
					'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
		})(window, document, 'script', 'dataLayer', '@(googleTagManagerCode)');</script>
	<!-- End Google Tag Manager -->
	<!-- Google Tag Manager (noscript) -->
	<noscript>
		<iframe src="https://www.googletagmanager.com/ns.html?id=@(googleTagManagerCode)" height="0" width="0" style="display:none;visibility:hidden"></iframe>
	</noscript>
	<!-- End Google Tag Manager (noscript) -->
}

<meta name="robots" content="index, follow" />

@{
	var pageTitle =
		ViewData[Constants.ViewDataKeyName.PageTitle] as string;

	var pageAuthor =
		ViewData[Constants.ViewDataKeyName.PageAuthor] as string;

	var pageKeywords =
		ViewData[Constants.ViewDataKeyName.PageKeywords] as string;

	var pageDescription =
		ViewData[Constants.ViewDataKeyName.PageDescription] as string;
}

@if (string.IsNullOrWhiteSpace(value: pageTitle) == false)
{
	<title>
		@(pageTitle)
	</title>
}

@if (string.IsNullOrWhiteSpace(value: pageAuthor) == false)
{
	<meta name="author" content="@(pageAuthor)" />
}
else
{
	<meta name="author" content="Mr. Dariush Tasdighi - آقای داریوش تصدیقی" />
}

@if (string.IsNullOrWhiteSpace(value: pageDescription) == false)
{
	<meta name="description" content="@(pageDescription)" />
}

@if (string.IsNullOrWhiteSpace(value: pageKeywords) == false)
{
	<meta name="keywords" content="@(pageKeywords)" />
}
